[submodule "vendor/catch2"]
	path = vendor/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendor/flatbuffers"]
	path = vendor/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "vendor/xxHash"]
	path = vendor/xxHash
	url = https://github.com/Cyan4973/xxHash.git
