[submodule "vendor/catch2"]
	path = vendor/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendor/flatbuffers"]
	path = vendor/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/boringssl"]
	path = vendor/boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "vendor/libwebp"]
	path = vendor/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
[submodule "vendor/libpng"]
	path = vendor/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "vendor/simdjson"]
	path = vendor/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "vendor/sentencepiece"]
	path = vendor/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "vendor/libxml2"]
	path = vendor/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
