* {
  box-sizing: border-box;
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  --color-bg: #fff;
  --color-bg-dim: #ddd;
  --color-fg: #222;
  --color-fg-dim: #666;
  --color-accent: steelblue;
  --color-accent-dim: cadetblue;
  --color-accent-hover: cornflowerblue;
  --color-accent-fg: #fff;
  --color-translucent: rgba(255,255,255,0.25);
  --color-upvote: orangered;
  --color-downvote: steelblue;

  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: var(--color-fg);
  display: flex;
  flex-direction: column;
  align-items: center;

  /* from svgbackgrounds.com */
  background-color: var(--color-bg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(135,960,540)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23EEEEEE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.07'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  body {
    --color-bg: #000;
    --color-bg-dim: #222;
    --color-fg: #ddd;
    --color-fg-dim: #bbb;
    --color-translucent: rgba(0,0,0,0.25);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(135,800,836)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23222222'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  }
}

summary, input[type=submit], button, select {
  cursor: pointer;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

#login-section label[for=actual_username] span,
#login-section label[for=password] span,
.a11y {
  position: absolute;
  appearance: none;
  overflow: hidden;
  border: 0;
  padding: 0;
  color: transparent;
  background-color: transparent;
  font-size: 0.1px;
  width: 0.1px;
  height: 0.1px;
}

/* borrowed from Skeleton CSS framework */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 36px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--color-accent-hover);
  outline: 0;
}
label, legend {
  display: block;
  margin-bottom: .5rem;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
input::placeholder {
  color: var(--color-fg-dim);
}

a:link {
  color: var(--color-accent);
}
a:visited {
  color: var(--color-accent-dim);
}
a:hover, a:active, a:focus {
  color: var(--color-accent-hover);
}

textarea {
  display: block;
  width: 100%;
  height: 6rem;
}

small {
  color: var(--color-fg-dim);
}

.big-button,
button,
input[type=submit],
input[type=reset],
input[type=button] {
  height: 36px;
  text-align: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--color-accent);
  color: var(--color-accent-fg);
  text-decoration: none;
  appearance: none;
  border: 0;
}

.big-button:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
  background-color: var(--color-accent-hover);
}

.big-button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}

a:link.big-button, a:visited.big-button {
  color: var(--color-accent-fg);
}

.topbar {
  width: 100%;
  align-self: stretch;
  display: flex;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}

.topbar ul, .topbar li, .topbar div {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.topbar .site-name {
  font-weight: bold;
}

.topbar li::before {
  content: '·';
  margin: 0 0.25rem;
}

.topbar .quick-boards {
  flex: 1 1 auto;
  overflow-x: hidden;
}

#toasts {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9999;
}

.toast {
  margin: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--color-fg-dim);
  color: var(--color-bg-dim);
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.25rem 1rem;
  cursor: pointer;
  transition: transform 0.25s ease-in-out, opacity 0.25s linear;
}

.toast.htmx-added {
  transform: translate(-30rem, 0);
  opacity: 0.25;
}

.toast:hover {
  transform: translate(-1rem, 0);
  opacity: 0.75;
}

.toast-error {
  background-color: red;
  color: white;
}

body > div, body > main, body > header, body > footer {
  max-width: 60rem;
  width: calc(100% - 2rem);
}

#page-header {
  grid-area: header;
  display: flex;
  align-items: center;
  height: 160px;
  padding: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px dotted var(--color-fg);
}

#page-header h1 {
  display: inline-block;
  padding: 0.5rem;
}

.banner-image {
  background-size: cover;
  background-position: top;
  background-color: var(--color-fg-dim);
}

.banner-image h1 {
  background-color: var(--color-translucent);
}

a.page-header-link:link, a.page-header-link:visited, a.page-header-link:hover {
  color: var(--color-fg);
  text-decoration: none;
}

a.page-header-link:hover {
  color: var(--color-fg);
  text-decoration: underline;
}

#sidebar {
  width: 19rem;
  padding-left: 1rem;
  float: right;
}

#sidebar h2 {
  font-size: 1.25rem;
}

#sidebar label {
  display: flex;
}

#sidebar input[type=text], #sidebar input[type=password], #sidebar input[type=search] {
  flex: 1 1 auto;
}

#sidebar input[type=search] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#sidebar-toggle-label {
  display: none;
}

aside section {
  border-bottom: 1px dotted var(--color-fg);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

#sidebar-banner img {
  display: block;
  max-width: 18rem;
  margin: auto;
}

summary {
  color: var(--color-accent);
  font-weight: bold;
}
summary + * {
  margin-top: 1rem;
}

.sort-form {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.sort-form label, .sort-form legend {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-form > *:not(:last-child) {
  margin-right: 1rem;
}

ol.thread-list, ol.comment-list, ol.board-list {
  margin: 0;
  padding: 0;
}

.thread-list > li, .comment-list > li, .board-list > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
}

.pagination a:not(:first-child) {
  margin-left: 2rem;
}

.more-link {
  display: block;
  padding: 1rem;
  text-align: center;
  width: 100%;
  background-color: var(--color-bg-dim);
}

.more-link.htmx-request {
  display: none;
}

.more-link.htmx-request + .spinner {
  display: inline-block;
}

.thread {
  list-style-type: none;
  display: grid;
  margin: 0;
  padding: 1rem 0;
  min-height: 6.5rem;
  grid-template-columns: 3rem 5rem 1fr;
  grid-template-areas:
    "votes thumbnail title"
    "votes thumbnail warnings"
    "votes thumbnail info"
    "votes thumbnail controls";
  min-width: 0;
}

.comment {
  list-style-type: none;
  display: grid;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  background-color: var(--color-bg-dim);
  min-height: 6.5rem;
  grid-template-columns: 4rem 1fr;
  grid-template-areas:
    "votes info"
    "votes content"
    "votes controls";
  min-width: 0;
}

.thread-title {
  grid-area: title;
  font-size: 1.25rem;
  min-width: 0;
  margin: 0;
}

.thread-source {
  font-weight: normal;
  font-size: 0.8rem;
}

a:link.thread-title-link, a:visited.thread-title-link, .controls a:link, .controls a:visited {
  font-weight: bold;
  text-decoration: none;
}

.thread-info a:link, .thread-info a:visited, .comment-info a:link, .comment-info a:visited {
  text-decoration: none;
}

a:hover.thread-title-link, .thread-info a:hover, .comment-info a:hover, .controls a:hover {
  text-decoration: underline;
}

.thumbnail {
  grid-area: thumbnail;
}

.thumbnail img {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: auto;
}

.thumbnail .icon {
  width: 3rem;
  height: 3rem;
  display: block;
  margin: 0.5rem auto;
  color: var(--color-fg-dim);
}

.thread-info {
  grid-area: info;
  display: flex;
  flex-wrap: wrap;
  color: var(--color-fg-dim);
  font-size: 0.8rem;
  min-width: 0;
  margin: 0.5rem 0;
}

.comment-info {
  grid-area: info;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  font-weight: bold;
  min-width: 0;
  margin: 0;
}

.thread-info span:not(:last-child)::after, .comment-info span:not(:last-child)::after {
  content: '\00a0';
}

.thread-info img, .thread-info .icon, .comment-info img, .comment-info .icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: bottom;
  margin-right: 0.125rem;
}

.board-title img, .board-title .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: bottom;
  margin-right: 0.25rem;
}

.thread-warnings {
  grid-area: warnings;
  font-size: 0.8rem;
}

.content-warning {
  margin: 0;
  margin-top: 0.25rem;
  font-weight: normal;
  color: var(--color-fg-dim);
}

.content-warning-label, .mod-warning-label {
  display: inline-block;
  color: black;
  padding: 0.125rem 0.25rem;
  font-weight: bold;
}

.content-warning-label {
  background-color: gold;
}

.mod-warning-label {
  background-color: orange;
}

.board-title .content-warning-label, .board-title .mod-warning-label {
  font-size: 1rem;
}

.content-warning .content-warning-label, .content-warning .mod-warning-label {
  margin-right: 0.125rem;
}

time, abbr {
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.comment-content {
  grid-area: content;
  margin: 1rem 0;
}

.thread-content {
  background-color: var(--color-bg-dim);
  border: dotted var(--color-fg);
  border-width: 1px 0;
  padding: 1rem 0.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.vote-buttons {
  grid-area: votes;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0.5rem;
}

.karma {
  order: 2;
  line-height: 1;
  transform: translate(0, 1px);
}

.downvote {
  order: 3;
}

.upvote, .downvote {
  display: flex;
  width: 100%;
  height: 1rem;
  margin: 0;
  margin-top: 0.25rem;
  align-items: center;
  justify-content: center;
}

label.upvote, label.downvote {
  cursor: pointer;
}

.vote-buttons button {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-color: var(--color-fg-dim);
  border-style: solid;
  border-width: 0 3px 3px 0;
  background: none;
  padding: 0;
  margin: 0;
}

.vote-buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.upvote button {
  transform: rotate(-135deg);
}

.downvote button {
  transform: rotate(45deg);
}

.upvote button.voted {
  border-color: var(--color-upvote);
}

.downvote button.voted {
  border-color: var(--color-downvote);
}

.controls {
  grid-area: controls;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
}

.controls a, .controls button {
  margin-right: 0.5rem;
}

.controls button, .controls select {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 0;
  -moz-padding-end: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  border: 0;
  border-radius: 0;
  background: none;
  padding: 0;
  color: var(--color-accent);
  font-size: 0.8rem;
  font-weight: bold;
  height: auto;
}

.controls button:hover, .controls button:focus, .controls select:hover, .controls select:focus {
  color: var(--color-accent-hover);
  text-decoration: underline;
  border: 0;
}

.controls-submenu {
  display: flex;
  align-items: center;
}

.controls-submenu label {
  display: inline-flex;
  margin-bottom: 0;
}

.controls-submenu label .icon {
  color: var(--color-accent);
  width: 0.8rem;
  height: 0.8rem;
}

.controls-submenu select {
  width: 4rem;
}

body:not(.has-js) .js {
  display: none;
}

.has-js .no-js {
  display: none;
}

.comment-tree .comment-tree {
  margin-left: 1rem;
}

.comment-tree .comment {
  border-left: 2px solid var(--color-accent);
}

.comment-tree .odd-depth > .comment {
  border-color: var(--color-accent-dim);
}

.form-page {
  background-color: var(--color-bg-dim);
  padding: 2rem 10%;
  border-radius: 0.5rem;
}

.reply-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-top: 1px dotted var(--color-fg);
  border-bottom: 1px dotted var(--color-fg);
  margin-bottom: 1rem;
}

.form label, .form fieldset {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 1rem 0;
}

.reply-form label, .reply-form fieldset {
  margin-top: 0;
}

.form label > span, .form legend {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--color-fg);
}

.form input[type=submit] {
  display: inline-block;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  align-self: flex-start;
}

.reply-form input[type=submit] {
  margin-top: 0;
}

.form fieldset label {
  display: block;
  margin: 0.25rem 0;
}

.toggle-switch {
  cursor: pointer;
  width: 3.5rem;
  height: 2rem;
  background: var(--color-fg-dim);
  display: inline-block;
  border-radius: 2rem;
  position: relative;
  margin-right: 0.5rem;
  transition: background 0.3s;
}

.toggle-switch:after {
  content: '';
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--color-bg);
  border-radius: 1.5rem;
  transition: 0.3s ease-in-out;
}

input:checked + .toggle-switch {
  background: var(--color-accent);
}

input:checked + .toggle-switch:after {
  left: calc(100% - 0.25rem);
  transform: translateX(-100%);
}

input:focus + .toggle-switch, input:focus + .toggle-button {
  box-shadow: 0 0 1rem var(--color-accent-hover);
}

.toggle-switch:active:after {
  width: 2rem;
}

.toggle-buttons {
  display: flex;
  flex-direction: row;
}

.toggle-buttons .toggle-button:not(:last-child) {
  border-right: 0;
}

.toggle-button {
  cursor: pointer;
  height: 36px;
  text-align: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-accent);
  background-color: var(--color-bg-dim);
  border: 1px solid var(--color-accent);
}

input:checked + .toggle-button {
  cursor: default;
  background-color: var(--color-accent);
  color: var(--color-fg);
}

#content_warning_toggle:checked ~ label[for=content_warning] {
  display: block;
}

.error-message {
  color: red;
  border: 1px solid red;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.spacer {
  flex: 1 1 auto;
}

body > footer {
  clear: both;
  padding: 1rem;
  color: var(--color-fg-dim);
}

.spinner,
.spinner:before,
.spinner:after {
  background: var(--color-accent);
  -webkit-animation: spinner 1s infinite ease-in-out;
  animation: spinner 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.spinner {
  display: none;
  color: var(--color-accent);
  text-indent: -9999em;
  margin: 1rem auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.spinner:before,
.spinner:after {
  position: absolute;
  top: 0;
  content: '';
}
.spinner:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner:after {
  left: 1.5em;
}
@-webkit-keyframes spinner {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes spinner {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@media only screen and (max-width: 45rem) {
  body > div, body > main, body > header, body > footer {
    width: calc(100% - 0.5rem);
  }

  aside {
    float: none;
    margin: auto;
    padding: 0 0.5rem;
  }

  .topbar {
    flex-direction: column;
  }

  .topbar > * {
    overflow-x: auto;
  }

  #toasts {
    align-items: center;
  }

  .toast {
    margin: 0.5rem;
  }

  #page-header {
    margin-bottom: 0.5rem;
  }

  #sidebar {
    display: none;
  }

  #sidebar-toggle-label {
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
    cursor: pointer;
    color: var(--color-accent);
    font-weight: bold;
  }

  #sidebar-toggle-label .icon {
    margin-right: 0.5rem;
  }

  #sidebar-toggle:checked ~ #sidebar {
    display: block;
  }

  .thread {
    border-top: 1px dotted var(--color-fg);
    grid-template-columns: 4rem min-content 1fr;
    grid-template-areas:
      "thumbnail title title"
      "thumbnail warnings warnings"
      "thumbnail info info"
      "votes votes controls";
  }

  .comment {
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      "info info"
      "content content"
      "votes controls";
  }

  .comment-tree .comment-tree {
    margin-left: 0.5rem;
  }

  .comment-tree .comment {
    padding-left: 0.5rem;
  }

  .vote-buttons {
    flex-direction: row;
    margin: 0.5rem 1rem 0;
    padding: 0;
  }

  .upvote, .downvote {
    margin: 0;
  }

  .upvote button {
    margin-bottom: -0.5rem;
    width: 0.8rem;
    height: 0.8rem;
  }

  .downvote button {
    margin-top: -0.5rem;
    width: 0.8rem;
    height: 0.8rem;
  }

  .karma {
    margin: 0 0.5rem;
  }

  .controls {
    margin-top: 0.5rem;
    justify-content: space-between;
  }

  .controls, .controls button, .controls select {
    font-size: 1rem;
  }
}
